/* Custom Home Icon */
.guilds .guild:first-child .guild-inner {
  background: url("https://i.postimg.cc/FFwXnRKD/28f3b212c555d56a5c863a1f9d38838c.jpg") no-repeat center/cover !important;
  border-radius: 50% !important;
  width: 48px !important;
  height: 48px !important;
  margin: auto !important;
}

.guilds .guild:first-child .guild-inner:before {
  content: '' !important;
}

.guilds .guild:first-child .guild-icon {
  display: none !important; /* Hides default home icon */
}
